body
{
  margin-left:40px;
  margin-right:40px;
}

div 
{
  padding: 10px 10px;
}

p
{
  font-size: 20px;
}

table, td
{
  border: 1px solid;
}
  
#intro_container
{
  display: grid;
  grid-template-columns: 50% 50%;
  
}

#crash_vid_container
{
  text-align: center;
}


#intro_header
{
  height: 10px
}

#ARPANET_container
{
  display: grid;
  grid-template-columns: 50% 50%;
}


#bubble_container
{
  display: grid;
  grid-template-columns: 50% 50%;
}

#email_container
{
  text-align: center;
}

#Modern_container
{
  display: grid;
  grid-template-columns: 50% 50%;
}

#WANNACRY_Container
{
  text-align: center;
}


#header_container
{
  display: grid;
  grid-template-columns: 50% 50%;
}
